@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  font-size: 16px;

  width: 100%;
  height: 100vh;
}

.container {
  height: 100%;
  margin: 0 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-area {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-head {
  margin: 0 2rem;
}
.main-text {
  font-size: 0.875em;
  font-weight: 400;
}

.top-bar {
  background-color: hsl(248, 32%, 49%);
  color: white;
  display: grid;
  place-items: center;
  padding: 1em 0;
  margin-bottom: 1rem;

  border-radius: 5px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.25);
}

.top-bar p {
  width: 50%;
  font-size: 0.9rem;
  line-height: 1.65em;
  text-align: center;
}

.form-area {
  /* height: 55%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 7.5px rgba(0, 0, 0, 0.25);
}

.input-field-container {
  margin-bottom: 1rem;
}

.input-container {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

input {
  width: 90%;
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.error-icon {
  visibility: hidden;
}

button {
  width: 100%;
  padding: 1.25rem 1rem;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.15s ease;
}

button:hover {
  background-color: hsla(154, 59%, 51%, 0.85);
}

.tnc {
  width: 70%;
  font-size: 0.55rem;
  text-align: center;
  color: hsl(246, 25%, 77%);
  margin: 0 auto;
}

.tnc span {
  color: hsl(0, 100%, 74%);
}

.clicked {
  border-color: hsl(249, 10%, 26%);
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
    display: grid;
    place-items: center;
  }
  .container {
    width: 85%;
    margin: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  section {
    width: 40%;
  }

  .text-area {
    align-items: flex-start;
    text-align: left;
  }
  .main-head {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .main-text {
    font-size: 1rem;
  }
  .form-area {
    margin: 0 2rem;
  }

  .top-bar p {
    width: 100%;
  }

  form {
    padding: 2.5rem;
  }
  .input-container {
    width: 100%;
  }

  .tnc {
    width: 100%;
    font-size: 0.7rem;
  }
}

.error {
  border: 2px solid hsl(0, 100%, 74%);
}

.error input {
  color: hsl(0, 100%, 74%);
}

/* error label styling */

.errorLabel {
  text-align: right;
  background-color: #fff;
  display: none;
  color: hsl(0, 100%, 74%);
  font-size: 0.75rem;
  font-weight: 600;
}
